{% extends 'base.html.twig' %}

{% block body %}
    <form method="post" id="scopeForm">
        <div class="row">
            <div class="col-md-6">
                <ul id="complex_container">
                        <li class="nested-form" id="scopeList_0">
                            <label> Scope</label>
                            <input type="text" name="item[base_attributes][0][scope]" class="form-control" >
                            <ul class="deep-container">
                                    <li class="deep-nested-form">
                                        <label> Claim Name</label>
                                        <input type="text"  class="form-control" id="item_base_attributes_0_deep_attributes_0_name" name="item[base_attributes][0][deep_attributes][0][name]" >
                                        <button type="button" class="deep-remove btn btn-outline-danger" onclick="disableHiddenField('item_base_attributes_0_deep_attributes_0_name')">Remove Claim</button>
                                    </li>
                                <li><button type="button" class="deep-add btn btn-outline-primary" >Add Claim</button></li>
                            </ul>
                            <button type="button" class="btn btn-outline-danger" id="complex_remove"  onclick="removeScope('scopeList_0')">Remove Scope</button>
                        </li>
                    <li><button type="button" class="btn btn-outline-dark" id="complex_add"  >Add Scope</button></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <button type="submit" id class="btn btn-small btn-primary"> Submit</button>
        </div>

    </form>

    <script src="{{ asset('kendo/js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery-nested-form.js') }}"></script>
    <script>

        function disableHiddenField(id) {
            $("#"+id).attr("disabled", "disabled");
        }

        function removeScope(id) {
            $("#"+id).remove();
        }

        function afterInitialize(nestedForm) {
            onBuildForm(nestedForm.forms());
        }
        function onBuildForm($elem) {
            // $elem.find('input[type="text"]').each(function(i, input) {
            //     $(input).val($(input).attr('id'));
            // });
        }

        $('#complex_container').nestedForm({
            forms: '.nested-form',
            adder: '#complex_add',
            remover: '#complex_remove',
            associations: ['base'],
            cloneEvents: false,
            increment: 1,
            startIndex: 0,
            afterInitialize: afterInitialize,
            onBuildForm: onBuildForm,
            nestedForm: {
                forms: '.deep-nested-form',
                adder: '.deep-add',
                remover: '.deep-remove',
                associations: ['deep'],
                cloneEvents: false,
                increment: 1,
                startIndex: 0,
                afterInitialize: afterInitialize,
                onBuildForm: onBuildForm,
                nestedForm: {
                    forms: '.more-deep-nested-form',
                    adder: '.more-deep-add',
                    remover: '.more-deep-remove',
                    associations: ['more_deep'],
                    cloneEvents: false,
                    afterInitialize: afterInitialize,
                    onBuildForm: onBuildForm
                }
            }
        });
    </script>
{% endblock body %}
