

{% extends 'base.html.twig' %}

{% block body %}

    <div class="row justify-content-md-center">

        <div class="col col-lg-6">
           <h4>You have reached 360Alumni Gate</h4>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <div class="card" >
                <div class="card-body">
                    <ul class="list-group">
                            <li class="list-group-item"><a href="{{ path('app_login') }}" class="btn  btn-primary" >Click here to Login</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                            <li class="list-group-item"><a href="{{ path('register_ms-owner') }}" class="btn btn-outline-primary" > Register As Microservice Owner</a></li>
                            <li class="list-group-item"><a href="{{ path('register_main_admin') }}" class="btn btn-outline-danger" > Register As 360 Admin</a></li>
                            <li class="list-group-item"><a href="{{ path('register_client_admin') }}"  class="btn btn-outline-success" > Register as Client Admin</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

{% endblock body %}