{% extends 'base.html.twig' %}

{% block body %}
    <div class="table-responsive col-md-8">
        <table class="table responsive table-bordered">
            <thead>
            <tr>
                <th>Scopes</th>
                <th>Claims</th>
                <th>Claim Uri</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <
            {% for scope,claims  in scopes %}
                <tr>

                    <td>
                            {{ scope }}
                    </td>
                    <td>
                        <ul>

                            {% for name,uri in claims  %}
                                <li>{{ name }}</li>
                            {% endfor %}
                        </ul>
                    </td> <td>
                        <ul>

                            {% for name,uri in claims  %}
                                <li>{{ uri }}
                            {% endfor %}
                        </ul>
                    </td>
                    <td></td>
                    <td>

                        {% for name,uri in claims  %}
                            <li> <button type="button" class="btn btn-sm btn-outline-primary">Enable</button></li>
                        {% endfor %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock body %}